* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
    font-family:'Poppins', sans-serif;
    color: #292562;
    min-width: 1000px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding: 0 15%;
    height: 80px;
    background-color: white;
    border-bottom: 2.5px solid rgba(128, 128, 128, 0.5);
}

nav .left, .right {
    display: flex;
    align-items: center;
    gap:60px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.content .main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 400px;
    width: 100%;
    background-color: white;
    border-bottom: 2.5px solid rgba(128, 128, 128, 0.5);
}

.main-section .text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.main-section .picture img {
    width: 300px;
    height: 300px;
}

.text-box .title {
    font-size: 40px;
}

.text-box .text {
    width: 100%;
    text-align: left;
}

.text-box button.learn-more {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 100px;
    color: white;
    background: linear-gradient(45deg, #71b7e6, #9b59b6);
    font-size: 16px;
    font-weight: 1000;
}