* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    color: #292562;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container.add-user, .container.login{
    width: 450px;
}

.container.login {
    height: 100%;
    justify-content: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Componentes */

.title {
    font-size: 30px;
    font-weight: bolder;
}

.text-box {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px; 
    transition: all 0.3 ease;
}

.text-box:focus, .select:focus {
    border-color: #9b59b6;
}

.button {
    max-height: 50px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    background-size: 200%;
    background-position: left;
    transition: background-position 1s;
 }

.button:hover {
    background-position: right;
}