body {
    box-sizing: border-box;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    background-image: linear-gradient(to left, #5DADE2,#A569BD);
}
.userTable {
    background-color:#cdffff;
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
    width: 100%;
}
th {
    color: white;
    background-color: #17202A;
    padding: 15px;
}
td {
    padding: 20px;
}
tr:hover {
    background-color:#5DADE2;
    color:#A569BD;
    border-bottom:1px solid #A569BD;
    border-top:1px solid #A569BD;
}
