table {
    font-size: 0.8em;
    background-color: white;
    border-collapse: collapse;
    border: none;
    margin: auto;
    max-width: 800px;
    width: 100%;
}
thead tr {
    color: white;
    background-color: #68058f;
    padding: 15px;
    border: none;
}
th, td {
    padding: 15px 20px;
    border: none;
}

tr {
    border-bottom: 1px solid gray;
}

.clickable-img {
    cursor: pointer;
}

tbody tr:hover {
    background-color:rgb(209, 209, 209);
    color:#A569BD;
    border-bottom:1px solid #A569BD;
}
